/* line 1, c:/Users/WebApps/Desktop/PROBITREC/WebApp1.0/public/scss/_general.scss */
body {
  color: black;
  background: white; }

/* line 1, c:/Users/WebApps/Desktop/PROBITREC/WebApp1.0/public/scss/_typography.scss */
h5 {
  color: black; }
